<div class="bs-example alerts">
	<div class="alert alert-success message-top">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Success!</strong> Thanks for contacting us.We will get back to you soon.
	</div>
</div> 