<div class="bs-example">
	<div class="alert alert-success message-top">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Success!</strong> Sucessfully sent quote. We will contact with you soon.
	</div>
</div>