<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Subscribe</p>
<h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">Join Over <%= @subscriber %>+ People</h2>