 <!--========== PAGE CONTENT ==========-->
 <!-- Feedback Form -->
 <div class="g-position--relative g-bg-color--mtshprimarycontacr">
    <div class="g-container--md g-padding-y-125--xs">
        <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Contact Us</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">Get in Touch</h2>
        </div>
        <div class="row g-row-col--5 g-margin-b-80--xs">
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-email"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Email</h4>
                    <p class="g-color--white-opacity">support@mtshsoftwareconsultancy.com</p>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-map-alt"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Address</h4>
                    <p class="g-color--white-opacity">SAHPUR GOPALPUR, MANOHARPUR, KACHUARA, KHEMNICHAK PATNA BIHAR 800016 INDIA</p>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-headphone-alt"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Call at</h4>
                    <p class="g-color--white-opacity">+ (91) 8748867709</p>
                </div>
            </div>
        </div>
        <div id="contact-div">
            <%= render "contact_form" %>
        </div>
    </div>
    <%= image_tag("mtsh-pen8.png", :alt => "MTSH Mockup Image",class: 's-mockup-v2-mtsh') %>
</div>
<!-- End Feedback Form -->
        <!--========== END PAGE CONTENT ==========-->