<div class="container-fluid mtsh-terms-conditions-background">
    <div class="container-fluid g-margin-t-o-150--xs-mtsh-terms-conditions">
        <div class="row-fluid">
            <ul class="list-group ">
            	<li class="list-group-item active"><h3>This Privacy Policy applies to the mtshsoftwareconsultancy.com. </h3></li>
            	<li class="list-group-item"><span style="color: red;">www.mtshsoftwareconsultancy.com</span> recognises the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. This Policy describes how we treat user information we collect on <span style="color: red;">http://www.mtshsoftwareconsultancy.com</span> and other offline sources.This Privacy Policy applies to current and former visitors to our website and to our online customers. By visiting and/or using our website, you agree to this Privacy Policy.</li>
            	<li class="list-group-item">www.mtshsoftwareconsultancy.com in is a property of <span style="color: red;">MTSH SOFTWARE & CONSULTANCY PRIVATE LIMITED, an Indian Company registered under the Companies Act, 2013 having its registered office at Sahpur Gopalpur,Mohanpur,Kachuara,Khemnichak Patna Bihar - 800016.</span></li>
            	<li class="list-group-item"><b>Information we collect</b> <br><br>

				<b>Contact information.</b>​We might collect your​ name, email, mobile number, phone number, street, city, state, pincode, country and ip address.We NEVER collect your credit card number or credit card expiry date or other details pertaining to your credit card on our website.<br><br>
				 
				<b>Information you post.​</b> We collect information you post in a public space on our website or on a third­party social  media site belonging to www.mtshsoftwareconsultancy.com. <br><br>

				<b>Demographic information.​</b> We may collect demographic information about you, events you like, events you intend to participate in or any other information provided by your during the use of our website. We might collect this as a part of a survey also.<br><br>
				 
				<b>Other information.​</b> If you use our website, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website,
				pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.</li>
            	<li class="list-group-item"><b>We collect information in different ways.</b><br><br> 

				<b>We collect information directly from you.​</b> We collect information directly from you when you register for an event. We also collect information if you post a comment on our websites or ask us a question through phone or email.<br><br>
				 
				<b>We collect information from you passively.​</b> We use tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website.<br><br>
				  
				<b>We get information about you from third parties.​</b> For example, if you use an integrated social media feature on our websites. The third­party social media site will give us certain information about you. This could include your 
				name and email address.</li>
            	<li class="list-group-item"><b>Use of your personal information.</b><br><br>

				<b>We use information to contact you.</b> We might use the information you provide to contact you for confirmation of a purchase on our website or for other promotional purposes.<br><br>

				<b>We use information to respond to your requests or questions.​</b>We might use your information to confirm your registration for an event or contest.<br><br>
				  
				<b>We use information to improve our products and services.​</b>We might use your information to customize your experience with us. This could include displaying content based upon your preferences.<br><br>
				 
				<b>We use information to look at site trends and customer interests.​</b> We may use your information to make our website and products better. We may combine information we get from you with information about you we get from third parties.<br><br>
				 
				<b>We use information for security purposes.​</b> We may use information to protect our company, our customers, or our websites.<br><br> 

				<b>We use information for marketing purposes.​</b>We might send you information about special promotions or offers. We might also tell you about new features or products. These might be our own offers or products, or third­party offers or products we think you might find interesting. Or, for example, if you buy tickets from us we'll enroll you in our newsletter.<br><br>
				    
				<b>We use information as otherwise permitted by law.</b></li>
            	<li class="list-group-item"><b>Sharing of information with third­parties</b><br><br> 

				<b>We will share information with third parties who perform services on our behalf.</b> We share information with vendors who help us manage our online registration process or payment processors or transactional message processors. Some vendors may be located outside of India. <br><br>
				  
				<b>We will share information with our business partners.​</b> This includes a third party who provide or sponsor an event, or who operates a venue where we hold events. Our partners use the information we give them as described in their privacy policies.<br><br>
				  
				<b>We may share information if we think we have to in order to comply with the law or to protect ourselves.​</b>We will share information to respond to a court order or subpoena. We may also share it if a government agency or investigatory body requests. Or, we might also share information when we are investigating potential fraud.<br><br>
				  
				<b>We may share your information for reasons not described in this policy.</b> We will tell you before we do this.</li>
            	<li class="list-group-item"><b>Email Opt­Out</b><br><br>
 
				<b>You can opt out of receiving our marketing emails.​</b>To stop receiving our promotional emails, please email support@mtshsoftwareconsultancy.com. It may take about ten days to process your request.</li>
            	<li class="list-group-item"><b>Third party sites</b> <br><br> 

				If you click on one of the links to third party websites, you may be taken to websites we do not control. This policy does not apply to the privacy practices of those websites. Read the privacy policy of other websites carefully. We are not responsible for these third party sites.</li>
            	<li class="list-group-item"><b>Grievance Officer</b><br><br>
 
				In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the 
				Grievance Officer are provided below:<br> 
				Mr. Mitesh Kumar <br>
				#224/64/1 WARD NO:14 VIRAT NAGAR,BOMMANAHALLI, VIRAT NAGAR, Bengaluru, Karnataka - 560068<br>
				Phone: +91­87­ 48867798 <br>
				Email: ​mtshkmr7@gamil.com<br> 
				If you have any questions about this Policy or other privacy concerns, you can also email us at <span style="color: red;"> support@mtshsoftwareconsultancy.com</span></li>
            	<li class="list-group-item"><b>Updates to this policy</b><br><br>
 
				This Privacy Policy was last updated on 28.01.2018. From time to time we may change our privacy practices and We will also post an updated copy on our website. Please check our site periodically for updates.</li>
            	<li class="list-group-item"><b>Jurisdiction</b><br><br> 

				If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.</li>
            </ul>
        </div>
    </div>
</div>