<div class="container-fluid mtsh-terms-conditions-background">

    <div class="container-fluid g-margin-t-o-150--xs-mtsh-terms-conditions">
        <div class="row-fluid">
            <ul class="list-group ">
                <li class="list-group-item active"><h1 class="page-title">TERMS OF SERVICE AGREEMENT</h1></li>

            
                <li class="list-group-item"><b>LAST REVISION: 22/01/2018<br>
                PLEASE READ THIS TERMS OF SERVICE AGREEMENT CAREFULLY. BY
                USING THIS WEBSITE OR ORDERING PRODUCTS FROM THIS WEBSITE YOU
                AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS
                AGREEMENT.</b></li>

                <li class="list-group-item">This Terms of Service Agreement (the "Agreement") governs your use of this
                website, <b>"www.mtshsoftwareconsultancy.com"</b> (the "Website"), <b>MTSH SOFTWARE & CONSULTANCY PRIVATE LIMITED</b>(hereinafter MTSH)
                offer information about our product on this Website. This Agreement includes, and incorporates by this
                reference, the policies and guidelines referenced below. <b>MTSH SOFTWARE & CONSULTANCY PRIVATE LIMITED</b> reserves
                the right to change or revise the terms and conditions of this Agreement at any time
                by posting any changes or a revised Agreement on this Website.</li>

                <li class="list-group-item">The Site, and all the content, materials, information, software, products and services provided on the Site, are provided on an "as is" and "as available" basis. MTSH expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose and non-infringement.</li>

                <li class="list-group-item">The Content and the projects described or depicted on the Site are subject to change without notice. Copyright may exist on any future materials. Unauthorized recording of such materials would be contrary to applicable copyright laws.</li>

                <li class="list-group-item">MTSH assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your computer, equipment or other property on account of your access to, use of or browsing the Site or your downloading of any materials, data, text, images, video, or audio from the Site.</li>

                <li class="list-group-item">MTSH is not responsible for the content of any other site linked to or from the Site. Your linking to any other site/sites is entirely at your own risk. While MTSH may provide links on the Site to other sites, the inclusion of such links is only for your convenience and should not be interpreted as an endorsement of the owner/sponsor of the site or the content on the other site/s. Subject to the Non-Excludable Rights (above), MTSH disclaims all warranties, express and implied, as to the accuracy, validity, legality or otherwise of any materials or information contained on such sites.</li>

                <li class="list-group-item">You are prohibited from posting or transmitting any unlawful, threatening, harassing, defamatory, libelous, obscene, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offence or give rise to civil liability or otherwise violate any law.</li>

                <li class="list-group-item">Materials displayed on the Site are either the property of, or used with permission by MTSH. The use of these materials by you or anyone else authorized by you is prohibited unless expressly permitted by these Terms and Conditions or express written permission is obtained from MTSH. Any unauthorized use of the images may violate copyright laws, trademark laws, the laws of privacy and publicity.</li>

                <li class="list-group-item">MTSH may at any time revise these Terms and Conditions by updating this post. Since you are bound by these Terms and conditions, please visit this page regularly to learn about the revised Terms and Conditions if any.</li>
                <li class="list-group-item"><b>BY USING THIS WEBSITE OR ORDERING PRODUCTS FROM THIS WEBSITE YOU AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT.</b></li>
            </ul>
        </div>
    </div>
</div>