 <!--========== PAGE CONTENT ==========-->
 <!-- Feedback Form -->
 <div class="g-position--relative g-bg-color--mtshprimarycontacr">
    <div class="g-container--md g-padding-y-125--xs">
        <% if @subscriber.active == true %>
            <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs"><u>Unsubscribe</u></p>
                <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">Think cool</h2>
            </div>
            
            <div id="contact-div">
                <%= render "unsubscribe_form" %>
            </div>
        <% else %>
            <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs"><u>Already Unsubscribed</u></p>
                <h2 class="g-font-size-30--xs g-font-size-34--sm g-color--white">To subscribe again please click on subscribe button</h2>
            </div>
            <div id="contact-div">
                <%= render "subscribe_form" %>
            </div>
        <% end %>    
    </div>
</div>
<!-- End Feedback Form -->
        <!--========== END PAGE CONTENT ==========-->